YOUTUBE_API_KEY=
YOUTUBE_URL=
PINECONE_API_KEY=
PINECONE_INDEX_NAME=
TRANSCRIPTS_DIRECTORY=
TOKENIZER_MODEL=
EMBEDDING_MODEL=
EMBEDDING_DIMENSION=
GROQ_API_KEY=
GEMINI_API_KEY=
LLM_MODEL=
LLM_PROVIDER=
