YOUTUBE_API_KEY=api-key-goes-here
YOUTUBE_URL=https://www.youtube.com/watch?v=video-id-goes-here
PINECONE_API_KEY=api-key-goes-here
PINECONE_ENVIRONMENT=environment-goes-here
PINECONE_INDEX_NAME=index-name-goes-here
PINECONE_BASE_URL=https://controller.your-pinecone-environment.pinecone.io
TRANSCRIPTS_DIR=./transcripts